<li class="message-holder" id="">
	<div class="message-body">
		<span class="message-name"></span>
		<span class="message-text"></span>
	</div>
	<div class="message-footer">
		<span></span>
	</div>
</li>