<html>
  <head>
    <title>Chat</title>
    <style>
      html{
        font-family: sans-serif;
      }
      .entrou{
        font-size: 9px;
      }

      .entrou .connected-name{
        font-weight: 800;
      }

      .message-text{
        margin-left: 5px;
      }
      .message-name{
        font-weight: 800;
      }
    </style>

    <script type='text/javascript' src="https://code.jquery.com/jquery-3.5.0.min.js" crossorigin="anonymous"></script>
    <script type='text/javascript' src="/javascripts/ejs.min.js" ></script>
    <script type='text/javascript' src="https://cdn.socket.io/socket.io-1.4.0.js"></script>

    <script>
      var _fname = <%- JSON.stringify(fname) %>;
      var _lname = <%- JSON.stringify(lname) %>;
      
      var socket = io(window.location.host, {query: "name="+_fname+" "+_lname});

      var usercode = GetUserCode(_fname + _lname);
      var msgs_sent = 0;

      $( document ).ready(function() {    
        $('form').submit(function(e) {
          e.preventDefault();
          msgs_sent++;
          socket.emit('chat message', {user_id: usercode+"msg"+msgs_sent.toString(), user_name: _fname + " " + _lname, msg:$('#input_message').val()});
          $('#input_message').val('');
          return false;
        });
      });

      
      socket.on('chat message', function(data){
        var html = new EJS({ url: '/templates/message'}).render(data);
        $('#messages').append(html);

     //   var li = $('<li></li>');

        // var span_name = $('<span></span>');
        // span_name.text(data.user_name);

        // var span_msg = $('<span></span>');
        // span_msg.text(data.msg);

        // li.append(span_name);
        // li.append(span_msg);
     //   $('#messages').append(li);

        // li.attr('id', data.user_id);
        // span_name.attr('class', "message-name");
        // span_msg.attr('class', "message-text");
      });


      socket.on('user connected', function(data){
        var li = $('<li></li>');

        var span_name = $('<span></span>');
        span_name.text(data);

        var span_msg = $('<span></span>');
        span_msg.text(" entrou no chat.");

        li.append(span_name);
        li.append(span_msg);
        $('#messages').append(li);

        li.attr('class', "entrou");
        span_name.attr('class', "connected-name");
        span_msg.attr('class', "connected-text");
      });



      function GetUserCode(str){
        var code = "";
        for(var i = 0; i < str.length; i++){
          var n;
          if(i % 2 == 0){ 
            n = str.charCodeAt(i);
            code += n.toString();
        }else{
          code += str[i];
        };
        }
        return code;
      }

      function CreateMsgElement(){
        var div = $('<div></div>');
        var li = $('<li></li>');

        var span_name = $('<span></span>');
        span_name.text(data);

        var span_msg = $('<span></span>');
        span_msg.text(" entrou no chat.");

        li.append(span_name);
        li.append(span_msg);
        $('#messages').append(li);

        li.attr('class', "entrou");
        span_name.attr('class', "connected-name");
        span_msg.attr('class', "connected-text");
      }
    </script>

  </head>
  <body>
    <ul id="messages"></ul>
    <form action="">
      <input id="input_message"/><button>Send</button>
    </form>
  </body>
</html>