<html>
  <head>
    <title>LogIn no Chat</title>
    <style></style>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript"></script>
  </head>
  <body>
    <div class="login-form">
      <h1>LogIn</h1>
      <form action="/login" method="POST">
        <!-- First name: <input type="text" name="fname"><br>
        Last name: <input type="text" name="lname"><br> -->
        Email: <input type="email" name="email"><br>
        <button type="submit">LogIn</button>
      </form>
    </div>
  </body>
</html>