<html>
  <head>
    <title>Registrar no Chat</title>
    <style></style>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript"></script>
  </head>
  <body>
    <div class="login-form">
      <h1>Registrar</h1>
      <form action="/" method="POST">
        Id: <input type="number" name="id"><br>
        First name: <input type="text" name="name"><br>
        Last name: <input type="text" name="company"><br>
        Email: <input type="email" name="email"><br>
        <button type="submit">Registrar</button>
      </form>
    </div>
  </body>
</html>