<!DOCTYPE html>
<html>
  <head>
    <title>Living</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://kit.fontawesome.com/3f043c6910.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>



    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <style type="text/css">
      html, body {
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        position: relative;
        font-family: sans-serif;
        background-color: #001e33;
        display: flex;
      }

      .img-fundo{
        position: absolute;
        height: 75%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    </style>
    

  </head>
  <body>
    <img class="img-fundo" id="detalhe-normal" src="images/fundo_living.jpg">
    <!-- <div class="logo-holder">
      <img src="images/logo.png">
    </div> -->
    <!-- <div class="main">
        <div class="form-holder">
          <h2>Entre com o email cadastrado:</h2>
          <form class="form" action="/login" method="POST" tabindex="1">
            <div class="form-inputs">
                <input class="noto-bold" type="email" name="email" placeholder="e-mail" required/>
              </div>
              <div class="submit"><input id="enviar" type="submit" name="sent" value="ENTRAR"></div>
          </form>
        </div>

    </div> -->
  </body>
</html>